body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-178px;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:507px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:97px;
  width:900px;
  height:507px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:53px;
  background:inherit;
  background-color:rgba(129, 200, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 211, 248, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:131px;
  width:94px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:112px;
  width:207px;
  height:117px;
  display:flex;
  transition:none;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:117px;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:53px;
  background:inherit;
  background-color:rgba(129, 200, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 211, 248, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:131px;
  width:94px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:53px;
  background:inherit;
  background-color:rgba(129, 200, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 211, 248, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:131px;
  width:94px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:53px;
  background:inherit;
  background-color:rgba(129, 200, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 211, 248, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:131px;
  width:94px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:53px;
  background:inherit;
  background-color:rgba(129, 200, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 211, 248, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:131px;
  width:94px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:53px;
  background:inherit;
  background-color:rgba(129, 200, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(129, 211, 248, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:131px;
  width:94px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:363px;
  width:111px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:285px;
  width:140px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:285px;
  width:74px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u82 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:323px;
  width:74px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u83 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:323px;
  width:140px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:395px;
  width:111px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:379px;
  width:19px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u86 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
